@import "bootstrap-sass-twbs/assets/stylesheets/bootstrap";
// @import "bootstrap-sass-twbs/assets/stylesheets/bootstrap/theme"; // optional theme
@import "fontawesome/scss/font-awesome";
@import "selectize-scss/src/selectize.bootstrap3";

body {
  padding-top: 70px;
}

.portfolio-item {
  margin-bottom: 25px;
}

footer {
  margin: 50px 0;
}

div.carousel-inner img {
  height: 500px !important;
  width: 750px !important;
}

.stack-list .stack {
  h2 {
    display: none;
  }
  padding-bottom: 25px;

  ul {
    margin: 0;
    padding: 0;

    li {
      display: none;
      list-style: none;
      cursor: pointer;
      height: 200px;
      margin: 0;
      padding: 0;

      &:first-child {
        display: list-item;
        overflow: hidden;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
