{% extends "@Main/Frontend/layout.html.twig" %}

{% block page %}
  <div class="row carousel-container">
    <div class="col-md-8">
      <div class="carousel">
        <div class="carousel-inner carousel-items">
          {# Active item #}
          <div class="item active">
            <img class="img-responsive" src="http://placehold.it/750x500" alt="">
          </div>
          {# Other items #}
          <div class="item">
            <img class="img-responsive" src="http://placehold.it/750x500" alt="">
          </div>
        </div>
        <div class="carousel-caption stack-title">
          {{ "Current stack title"|trans }}
        </div>
        <a class="left carousel-control" href="#" role="button">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#" role="button">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="stack-title">{{ "Current stack title"|trans }}</h3>
    </div>
  </div>

  <div class="row stack-list">
    <div class="col-lg-12">
      <h3 class="page-header">
        {{ "Stacks"|trans }}
      </h3>
    </div>
    {% for stack in stacks %}
      <div class="col-sm-3 col-xs-6 stack">
        <h2>{{ stack.name }}</h2>
        <ul>
          {% for image in stack.images %}
            <li><img src="{{ vich_uploader_asset(image, 'file') }}"></li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
{% endblock %}
